body {
  background-color: #404040;
  color:white;
  font-family: monospace;
}

p {
  color: white;
  font-family: monospace;
}

h1 {
  font-weight: bold;
  color: rgb(255,255,255);
  font-family: monospace;
  text-align: center;
}

h2 {
  color: white;
  font-family: monospace;
}

a {
  color: white;
  font-family: monospace;
}

ul {
  color: white
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

h3 {
  font-family: monospace;
  text-align: center;
  border-style: solid;
  background-color: #EB242B;
  border-color: #EB242B;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}

.red {
  background-color: #EB242B;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navigation {
  text-align: center;
  border: 5px solid #EB242B;
  padding: 8px;
}

.rgb {
  background-color: rgb(235,36,43); 
  padding-top: 1px;
  padding-bottom: 1px;
}
