body {
  background-color: #222222;
}

p {
  color: #FFFFFF;
  font-family: monospace;
}
    

a {
  color: #C669D0;
  font-weight: bold;
  font-family: monospace;
}

a:link {
  color: #FFFFFF;
  text-decoration:none;
}

a:hover {
  color: #FFFFFF;
  text-decoration:underline;
}

a:visited {
  color: #FFFFFF;
  text-decoration:none;
}
 
ul {
  color: #FFFFFF;
  font-family: monospace;
}
    
li {
  color: #FFFFFF;
  font-family: monospace;
}
 
h1 {
  color: #C669D0;
  font-weight: bold;
  font-family: monospace;
}

.button {
  background-color: #FC98FF;
  border: none;
  color: #C669D0;
  padding: 15px 15px;
  text-align: center;
  font-size: 16px;
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
  margin: auto;
}
